###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [12]:
s = {1, 2,'innomatics','hub'}

In [13]:
s

{1, 2, 'hub', 'innomatics'}

In [4]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [3]:
s.add('Technology')

In [4]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [5]:
sc = {3, 4, 'hub', 'Technology'}

In [6]:
sc

{3, 4, 'Technology', 'hub'}

In [12]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [7]:
difference_set = s - sc

In [8]:
difference_set

{1, 2, 'innomatics'}

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [9]:
s.remove(2)

In [10]:
s

{1, 'Technology', 'hub', 'innomatics'}

In [15]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [17]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [11]:
common_elements = s.intersection(sc)
print(common_elements)

{'hub', 'Technology'}

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [12]:
all_elements = s.union(sc)
print(all_elements)

{1, 3, 4, 'innomatics', 'hub', 'Technology'}

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [13]:
fruits = {"orange", 'apple', 'kiwi'}
colors = ['orange', 'red', 'green']

fruits.update(colors)

In [14]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [2]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [15]:
set1 = {10, 20, 30, 40, 50}

set1.discard(10)
set1.discard(20)
set1.discard(30)

In [16]:
set1

{40, 50}

{40, 50}